html {
    font-size: 100%;
    scroll-behavior: smooth;
}

body {
    font-size: 1rem;
    line-height: 1;
    font-family: 'Montserrat', sans-serif;
}

img {
    max-width: 100%;
    display: block;
}

.slick-dotted.slick-slider {
    margin-bottom: 0 !important;
}